body{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, main, footer{
    max-width:750px;
    margin: auto; 

}
header, footer{
    background-color:#566b8f;
    padding: 1rem;
    border-radius:10px;
    
}

header img{
    margin: 15px;
    
}
header h1{
    text-align: center;
    color:white;    
}
footer p{
    text-align: center;
    color:white;
}
footer a {
    color:white;
}
footer a:visited{
    color:#511730;
  
}

