@media (min-width: 60em){
    nav ul { 
        display: flex;
        justify-content: space-around;
     }
     .navigation li:first-child{
         display: none;
     }
    .navigation li{
        display: block;
    }
}